.formArea {
  padding: 5px;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.formField {
  font-family: 'Noto Sans JP', 'SourceHanSansJP-Medium', sans-serif;
  font-weight: 500;
  margin: 1rem 1rem;
}

.formField fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.formFieldName {
  display: block;
  width: 100%;
  padding-bottom: 0.6em;
  color: #073190;
}

.formFieldInput {
  margin-top: 0.4em;
  margin-bottom: 2.2em;
}

.formFieldInput ul {
  margin: 0;
  padding: 0;
}

.formFieldInput li {
  list-style: none;
  padding: 0.2em 0;
}

.formFieldInput
  input:not([type='checkbox']):not([type='radio']):not([type='file']):not([type='hidden']):not([type='submit']):not([type='button']):not([type='image']),
.formFieldInput textarea {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d9d9d9;
  width: 40em;
  max-width: 100%;
  box-sizing: border-box;
}

.formFieldInput textarea {
  height: 10em;
}

.formFieldInput textarea[name='address'] {
  height: 4em;
}

.formFieldInput input + label {
  display: inline-block;
  padding-left: 0.5em;
}

.formFieldInput
  input:not([type='checkbox']):not([type='radio']):not([type='file']):not([type='hidden']):not([type='submit']):not([type='button']):not([type='image']):focus,
.formFieldInput textarea:focus {
  background-color: #fffde7;
}

.formSubmit {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.formSubmit button {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 300px;
  height: 60px;
  display: inline-block;
  position: relative;
  background: #1350da;
  color: white;
  border: none;
  border-radius: 4px;
}
.sendMark {
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 9.5px;
  border-color: transparent transparent transparent white;
  margin-top: 6px;
}
.formSubmit button:focus,
.formSubmit button:hover {
  box-shadow: 2px 0 16px rgba(20, 21, 23, 0.2);
  cursor: pointer;
}

.formSubmit button[disabled] {
  background: #ddd;
  color: #111;
}

.formSubmit button[disabled]:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.formInputRequisite {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: 0.75rem;
  color: #fff;
  background-color: #d50000;
  margin-left: 0.5rem;
  padding: 2px 6px;
  border-radius: 4px;
  vertical-align: middle;
}

.invalidForm {
  display: block;
  color: #fff;
  background-color: #d50000;
  width: fit-content;
  margin-top: 0.4em;
  padding: 2px 0.6em 2px 2.2em;
  border-radius: 4px;
  position: relative;
}

.invalidForm svg {
  position: absolute;
  width: 1em;
  top: 0;
  bottom: 0;
  left: 0.6em;
  margin: auto 0;
}
